<p>
  <label><%= t("user_group") %></label><br />
  <% for group in Spree::UserGroup.all %>
    <label class="sub">
      <%= f.radio_button(:user_group_id, group.id) %>
      <%= group.name %>
    </label> &nbsp;
  <% end %>
</p>
